{% extends 'cms/cms_base.html' %}

{% block title %}个人信息{% endblock %}

{% block header %}
<!--已将.form-container放置cms_base.css中-->
<!--    <style>-->
<!--        .table {-->
<!--            width: 500px;-->
<!--        }-->
<!--    </style>-->
{% endblock %}

{% block page %}
    {{ self.title() }}
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        {% set user = g.cms_user%}
        <!--<tbody>-->
            <tr>
                <td>用户名：</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>邮箱：</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>角色：</td>
                <td>
                    <!--显示当前登录邮箱的所属角色-->
                    {% for role in user.roles %}
                        {{ role.role_name }}
                        <!--除了最后一次循环，都加上逗号-->
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>权限：</td>
                <td>
                    {% for role in user.roles %}
                        {{ role.desc }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>加入时间：</td>
                <td>{{ user.regist_time }}</td>
            </tr>
        <!--</tbody>-->
    </table>

{% endblock %}

